div, p, body, button, h1, h2, h3, h4, img, hr, li, ul, span, section, a, nav, form, option, select, label, input, button, header, footer {
  margin: 0;
  padding: 0; }

p, h1, h2, h3, span {
  cursor: default; }

html {
  font-size: 16px; }

@font-face {}
.main-slider {
  position: relative;
  height: 700px;
  background-color: #fff; }
  .main-slider .caption {
    z-index: 99;
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 70px;
    text-align: left;
    color: #222222; }
  .main-slider .slider {
    display: flex;
    align-items: flex-end;
    position: relative;
    background-color: #fff;
    height: 100%;
    width: 100%; }
  .main-slider .slick-slide {
    outline: 0;
    position: relative;
    width: 60vw;
    height: 500px;
    margin: 0 10px;
    cursor: pointer; }
  .main-slider .information {
    position: absolute;
    left: 30%;
    bottom: 10%;
    line-height: 1.28;
    text-align: left;
    color: #666666; }
    .main-slider .information h3 {
      padding-bottom: 5px;
      letter-spacing: 3.2px;
      text-transform: uppercase; }
    .main-slider .information .about {
      height: 50px;
      width: 300px;
      font-size: 17px; }
    .main-slider .information .cost {
      font-size: 35px;
      color: #000000;
      font-weight: bold; }

.slick-arrow {
  outline: 0;
  cursor: pointer;
  z-index: 99;
  background-color: #fff;
  border: none;
  position: absolute;
  top: 62%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px #dddddd; }
  .slick-arrow:hover {
    background-color: #dddddd; }
  .slick-arrow:before {
    display: inline-block;
    content: "";
    position: relative;
    left: -2px;
    top: 2px;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    border: 6px solid black;
    border-top: transparent;
    border-left: transparent; }

.slick-prev {
  left: 100px;
  transform: rotate(180deg); }

.slick-next {
  right: 100px; }

.hidden {
  opacity: 0;
  pointer-events: none; }

.slick-track,
.slick-list {
  -webkit-perspective: 2000;
  -webkit-backface-visibility: hidden; }

.transformers .slick-slide {
  background: #fff center/70% no-repeat; }
.transformers .first {
  background-image: url("../img/transformers/transformer01.png"); }
.transformers .second {
  background-image: url("../img/transformers/transformer01.png"); }
.transformers .third {
  background-image: url("../img/transformers/transformer01.png"); }
.transformers .information:before {
  content: "";
  position: absolute;
  height: 15vh;
  width: 1px;
  background-color: #888888;
  bottom: 10px;
  left: -50px; }

@media screen and (max-width: 1247px) {
  .transformers {
    height: 70vh; }
    .transformers .slick-slide {
      height: 500px;
      border: 1px solid red;
      font-size: 0.5em;
      width: 100vw;
      background-size: 100%;
      background-position: center; } }
.single .slick-slide {
  width: 500px;
  background: #fff url("../img/single/single01.png") top/60% no-repeat; }

@media screen and (max-width: 1247px) {
  .single {
    height: 70vh; }
    .single .caption {
      font-size: 2em; }
    .single .slick-slide {
      height: 60vh;
      border: 1px solid red;
      font-size: 0.5em;
      width: 100vw;
      background-size: 60%;
      background-position: center 10%; } }
@media screen and (max-width: 1247px) {
  .main-slider .caption {
    left: 20px;
    top: 20px;
    font-size: 2em; }
  .main-slider .information {
    left: 10%; }
    .main-slider .information:before {
      display: none; }
  .main-slider .slick-arrow {
    visibility: hidden; } }
.top-footer {
  height: 80vh;
  position: relative;
  width: 95vw;
  background: #aaa url("../img/footer/shops.jpg") center/cover no-repeat;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 0 100px; }
  .top-footer .caption {
    width: 700px;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 4.375rem;
    line-height: 1.06;
    text-align: left;
    color: white; }
  .top-footer .address {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 60%;
    border: 1px solid red; }
    .top-footer .address h3 {
      padding-bottom: 10px;
      font-size: 32px;
      text-align: left;
      color: #ffffff; }
    .top-footer .address p {
      font-size: 1em;
      width: 230px;
      text-align: left;
      padding-bottom: 5px;
      color: #dfdfdf; }
    .top-footer .address .map {
      bottom: 10%;
      position: absolute;
      width: 275px;
      height: 42px;
      border-radius: 100px;
      background-color: transparent;
      border: 1px solid white;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 2.8px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase; }

@media screen and (max-width: 1247px) {
  .top-footer {
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0; }
    .top-footer .caption {
      position: relative;
      top: auto;
      left: auto;
      padding: 50px 0;
      text-align: center;
      font-size: 2em;
      width: auto; }
    .top-footer .address {
      width: 100%;
      height: 300px; }
      .top-footer .address h3 {
        text-align: center; }
      .top-footer .address p {
        text-align: center;
        width: 50%;
        margin: 0 auto; }
      .top-footer .address .map {
        position: relative;
        bottom: auto;
        align-items: center;
        margin: 25px auto 0 auto; } }
