@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Rubik:400,700&subset=cyrillic");
div, p, body, button, h1, h2, h3, h4, img, hr, li, ul, span, section, a, nav, form, option, select, label, input, button, header, footer {
  margin: 0;
  padding: 0; }

p, h1, h2, h3, span {
  cursor: default; }

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

button {
  cursor: pointer; }

input {
  font-family: inherit; }

p {
  font-family: 'Lato', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400; }

@font-face {}
.header .pickup, .options button, .discount-offer .get-promo button, .header .callback, .top-footer .show-map {
  border-radius: 8px;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 0.1em;
  border: 1px solid transparent;
  text-align: center;
  text-transform: uppercase; }

.header .pickup, .options button, .discount-offer .get-promo button {
  border-color: #FE7F12;
  background-color: #FE7F12; }

.header .callback, .top-footer .show-map {
  border-color: white;
  background-color: transparent; }

html {
  padding-top: 40px;
  padding-bottom: 20px; }

.header, .features, .top-footer, .bottom-footer {
  padding-left: 40px;
  padding-right: 40px; }

.header {
  position: relative;
  height: 80vh;
  overflow: hidden; }
  .header .header-content {
    background: #aaa url("../img/footer/shops.jpg") center/cover no-repeat;
    height: 100%; }
  .header .logo {
    position: absolute;
    font-size: 0;
    background: url(../img/header/logo.svg) left top no-repeat;
    background-size: contain;
    height: 30px;
    width: 1700px;
    top: 48px;
    left: 88px; }
  .header .contacts {
    position: absolute;
    right: 65px;
    top: 25px; }
  .header a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px; }
  .header .callback {
    width: 200px; }
  .header h1 {
    color: white;
    font-size: 50px;
    position: absolute;
    left: 5%;
    bottom: 20%;
    width: 60%; }
  .header .pickup {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 205px; }

@media screen and (max-width: 639px) {
  .header h1 {
    font-size: 30px;
    width: 80%;
    bottom: 25%; }
  .header .callback {
    margin-top: 20px; } }

.features {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 40px auto 100px; }
  .features h3 {
    font-size: 30px;
    color: #222222; }
  .features p {
    margin-top: 8px;
    font-size: 16px;
    color: #909090; }
  .features .choice,
  .features .credit,
  .features .delivery {
    box-sizing: border-box; }
    .features .choice::before,
    .features .credit::before,
    .features .delivery::before {
      content: '';
      display: block;
      width: 100px;
      height: 100px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%; }
  .features .choice::before {
    background-image: url(../img/features/choice.svg); }
  .features .credit::before {
    background-image: url(../img/features/credit.svg); }
  .features .delivery::before {
    background-image: url(../img/features/delivery.svg); }

@media screen and (max-width: 849px) {
  .features {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .features .choice,
    .features .credit,
    .features .delivery {
      width: 100%; } }

.main-slider {
  position: relative;
  height: 700px;
  background-color: #fff; }
  .main-slider .caption {
    z-index: 99;
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 60px;
    text-align: left;
    color: #222222; }
  .main-slider .slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative;
    background-color: #fff;
    height: 100%;
    width: 100%; }
  .main-slider .slick-slide {
    outline: 0;
    position: relative;
    width: 60vw;
    height: 500px;
    margin: 0 10px;
    cursor: pointer; }
  .main-slider .information {
    position: absolute;
    left: 30%;
    bottom: 10%;
    line-height: 1.28;
    text-align: left;
    color: #666666; }
    .main-slider .information h3 {
      padding-bottom: 5px;
      letter-spacing: 3.2px;
      text-transform: uppercase; }
    .main-slider .information .about {
      height: 50px;
      width: 300px;
      font-size: 17px; }
    .main-slider .information .cost {
      font-size: 35px;
      color: #000000;
      font-weight: bold; }

.slick-arrow {
  outline: 0;
  cursor: pointer;
  z-index: 99;
  background-color: #fff;
  border: none;
  position: absolute;
  top: 62%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px #dddddd; }
  .slick-arrow:hover {
    background-color: #dddddd; }
  .slick-arrow:before {
    display: inline-block;
    content: "";
    position: relative;
    left: -2px;
    top: 2px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: 6px solid black;
    border-top: transparent;
    border-left: transparent; }

.slick-prev {
  left: 100px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.slick-next {
  right: 100px; }

.hidden {
  opacity: 0;
  pointer-events: none; }

.transformers .slick-slide {
  background: #fff center/70% no-repeat; }

.transformers .first {
  background-image: url("../img/transformers/transformer01.png"); }

.transformers .second {
  background-image: url("../img/transformers/transformer01.png"); }

.transformers .third {
  background-image: url("../img/transformers/transformer01.png"); }

.transformers .information:before {
  content: "";
  position: absolute;
  height: 15vh;
  width: 1px;
  background-color: #888888;
  bottom: 10px;
  left: -50px; }

@media screen and (max-width: 1247px) {
  .transformers {
    height: 70vh; }
    .transformers .slick-slide {
      height: 500px;
      font-size: 0.5em;
      width: 100vw;
      background-size: 100%;
      background-position: center; } }

.single .slick-slide {
  width: 500px;
  background: #fff url("../img/single/single01.png") top/60% no-repeat; }

@media screen and (max-width: 1247px) {
  .single {
    height: 70vh; }
    .single .caption {
      font-size: 2em; }
    .single .slick-slide {
      height: 60vh;
      font-size: 0.5em;
      width: 100vw;
      background-size: 60%;
      background-position: center 10%; } }

@media screen and (max-width: 1247px) {
  .main-slider .caption {
    left: 20px;
    top: 20px;
    font-size: 2em; }
  .main-slider .information {
    left: 10%; }
    .main-slider .information:before {
      display: none; }
  .main-slider .slick-arrow {
    visibility: hidden; } }
.top-footer .top-footer-content {
  width: 100%;
  height: 700px;
  border-bottom: 8px solid #fe7f12;
  background: #aaa url("../img/footer/shops.jpg") center/cover no-repeat;
  box-sizing: border-box;
  padding: 60px 48px; }
.top-footer .address-list {
  display: flex;
  justify-content: space-between;
  margin-top: 140px; }
.top-footer .caption {
  box-sizing: border-box;
  padding-right: 40%;
  font-size: 4.375rem;
  line-height: 1.06;
  text-align: left;
  color: white; }
.top-footer .show-map {
  bottom: 10%;
  width: 230px;
  margin-top: 30px; }
.top-footer .address {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  height: 60%; }
  .top-footer .address h3 {
    padding-bottom: 10px;
    font-size: 32px;
    text-align: left;
    color: #ffffff; }
  .top-footer .address p {
    font-size: 16px;
    width: 300px;
    text-align: left;
    padding-bottom: 5px;
    color: #dfdfdf; }

@media screen and (max-width: 1247px) {
  .top-footer {
    height: auto;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0; }
    .top-footer .caption {
      position: relative;
      top: auto;
      left: auto;
      padding: 50px 0;
      text-align: center;
      font-size: 2em;
      width: auto; }
    .top-footer .address {
      width: 100%;
      height: 300px; }
      .top-footer .address h3 {
        text-align: center; }
      .top-footer .address p {
        font-size: 1em;
        text-align: center;
        width: 50%;
        margin: 0 auto; }
      .top-footer .address .map {
        position: relative;
        bottom: auto;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 25px auto 0 auto; } }

.bottom-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .bottom-footer a {
    line-height: 1.25;
    letter-spacing: 1px;
    text-align: right;
    color: #666666;
    text-decoration: none; }
  .bottom-footer .payment {
    width: 150px;
    height: 40px;
    background: url(../img/footer/payment.png) center no-repeat;
    background-size: contain; }

@media screen and (max-width: 1247px) {
  .bottom-footer {
    width: 100%;
    height: 50px; }
    .bottom-footer a {
      font-weight: bold; }
    .bottom-footer .payment {
      width: 100px; } }
.discount-banner {
  height: 110px;
  width: 1000px;
  margin: 50px auto;
  background-color: #eeeeee;
  position: relative; }

.options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 50px; }
  .options span {
    position: absolute;
    top: -50px;
    left: 30px;
    font-size: 120px;
    line-height: 1.25;
    text-align: left;
    color: #fe7f12;
    font-family: "Rubik", sans-serif; }
  .options h3 {
    font-weight: normal;
    width: 40%;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px 0 50px;
    font-family: inherit;
    font-size: 30px; }
  .options p {
    font-family: inherit;
    text-align: right;
    color: #666666;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 20px; }
  .options button {
    width: 205px; }

.discount-offer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 50px; }
  .discount-offer span {
    position: absolute;
    top: -25px;
    left: -20px;
    font-family: "Rubik", sans-serif;
    font-size: 90px;
    text-align: left;
    color: #fe7f12; }
  .discount-offer h3 {
    font-weight: normal;
    text-align: left;
    font-size: 30px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding-bottom: 10px; }
  .discount-offer .get-promo {
    position: relative; }
    .discount-offer .get-promo input {
      width: 260px;
      height: 34px;
      border: solid 2px #ababab;
      border-radius: 4px;
      font-size: 16px;
      outline: none;
      padding-left: 10px;
      color: #aaa;
      vertical-align: bottom; }
    .discount-offer .get-promo button {
      width: 205px;
      vertical-align: bottom; }
    .discount-offer .get-promo label {
      display: block;
      font-size: 16px;
      text-align: left;
      color: #666;
      margin-bottom: 12px; }

@media screen and (max-width: 1247px) {
  .discount-banner {
    height: 300px;
    width: 100%; }
  .discount-offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0; }
  .discount-offer {
    height: 450px; }
    .discount-offer span {
      top: -50px;
      left: 5%; }
    .discount-offer h3 {
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
      padding-left: 25px;
      padding-top: 70px; }
    .discount-offer .get-promo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 60%; }
      .discount-offer .get-promo label {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px; }
      .discount-offer .get-promo button {
        margin-top: 20px;
        position: relative;
        left: auto; }
  .options h3 {
    text-align: center;
    padding: 50px 10px 10px 0;
    width: 100%; }
  .options p {
    padding: 0 10px;
    text-align: center;
    width: 100%; } }
