@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Rubik:400,700&subset=cyrillic");
div, p, body, button, h1, h2, h3, h4, img, hr, li, ul, span, section, a, nav, form, option, select, label, input, button, header, footer {
  margin: 0;
  padding: 0; }

p, h1, h2, h3, span {
  cursor: default; }

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

button {
  cursor: pointer; }

input,
textarea {
  font-family: inherit;
  outline: none; }

p {
  font-family: 'Lato', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/regular.eot");
  src: url("../fonts/lato/regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/regular.woff2") format("woff2"), url("../fonts/lato/regular.woff") format("woff"), url("../fonts/lato/regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
.header .contacts .callback-form button, .header .pickup, .options button, .discount-offer button, .header .contacts .callback, .top-footer .show-map {
  border-radius: 8px;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 0.1em;
  border: 1px solid transparent;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }

.header .contacts .callback-form button, .header .pickup, .options button, .discount-offer button {
  border-color: #FE7F12;
  background-color: #FE7F12; }
  .header .contacts .callback-form button.success, .header .success.pickup, .options button.success, .discount-offer button.success {
    background-color: #7ED321;
    border-color: #7ED321; }

.header .contacts .callback, .top-footer .show-map {
  border-color: white;
  background-color: transparent; }

.text-input {
  background: white;
  border: solid 2px #aaa;
  border-radius: 4px;
  padding: 4px 10px; }
  .text-input.error {
    border-color: #ee0000; }
  .text-input.disabled {
    pointer-events: none;
    opacity: 0.2; }
  .text-input input[type=email],
  .text-input input[type=text],
  .text-input textarea {
    color: #222;
    font-size: 16px;
    border: none;
    line-height: 26px;
    width: 100%; }
  .text-input textarea {
    resize: none; }

html {
  padding-top: 40px;
  padding-bottom: 20px; }

.header, .features, .top-footer, .bottom-footer {
  padding-left: 40px;
  padding-right: 40px; }

@media screen and (max-width: 1247px) {
  html {
    padding-top: 0; }

  .header, .features, .top-footer, .bottom-footer {
    padding: 0; } }
.eco .eco-promo h3, .premium .premium-promo h3 {
  font-size: 40px;
  margin-bottom: 30px; }
.eco .eco-promo p, .premium .premium-promo p, .eco .eco-promo ul, .premium .premium-promo ul {
  color: #666; }

.header {
  position: relative;
  height: 80vh;
  overflow: hidden; }
  .header .header-content {
    background: #aaa url("../img/footer/shops.jpg") center/cover no-repeat;
    height: 100%; }
  .header .slide-master {
    background: #aaa url("../img/header/header_01.png") center/cover no-repeat;
    height: 100%; }
  .header .slide-promo {
    background: #aaa url("../img/header/header_02.png") center/cover no-repeat;
    height: 100%; }
  .header .logo {
    z-index: 99;
    position: absolute;
    font-size: 0;
    background: url(../img/header/logo.svg) left top no-repeat;
    background-size: contain;
    height: 30px;
    width: 1700px;
    top: 48px;
    left: 88px; }
  .header .contacts {
    z-index: 99;
    position: absolute;
    right: 65px;
    top: 25px;
    display: flex; }
    .header .contacts:not(.contacts-opened) .callback-form {
      display: none; }
    .header .contacts.contacts-opened .callback {
      display: none; }
    .header .contacts a {
      text-decoration: none;
      color: #fff;
      padding: 10px 20px; }
    .header .contacts .callback {
      width: 190px; }
    .header .contacts .callback-form button,
    .header .contacts .callback-form .text-input {
      display: inline-block;
      vertical-align: bottom; }
    .header .contacts .callback-form button {
      width: 190px; }
  .header h1 {
    color: white;
    font-size: 50px;
    position: absolute;
    left: 5%;
    bottom: 20%;
    width: 60%; }
  .header .pickup {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 205px; }

.header:hover .swiper-arrow {
  opacity: 1; }
.header .swiper-arrow {
  transition: 0.5s;
  opacity: 0;
  border: none;
  background: transparent url(../img/header/arrow-next.svg) center/32% no-repeat; }
  .header .swiper-arrow:before {
    content: none; }
  .header .swiper-arrow:hover {
    background-color: transparent; }
.header .swiper-button-prev {
  left: 40px; }
.header .swiper-button-next {
  right: 40px; }
.header .swiper-pagination-bullets {
  box-sizing: border-box;
  text-align: right;
  padding-right: 50px; }
.header .swiper-pagination-bullet {
  border-radius: 0; }
.header .swiper-pagination-bullet {
  background-color: white; }

@media screen and (max-width: 639px) {
  .header .swiper-arrow {
    display: none; }
  .header .logo {
    left: 2%;
    top: 90px; }
  .header h1 {
    font-size: 30px;
    width: 80%;
    bottom: 25%; }
  .header .contacts {
    right: 10px;
    text-align: right; }
    .header .contacts a {
      width: 150px;
      padding: 12px 20px 12px 0; }
    .header .contacts .callback {
      width: 150px; } }
@media screen and (max-width: 399px) {
  .header h1 {
    font-size: 20px; } }
.features {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 40px auto 100px; }
  .features h3 {
    font-size: 30px;
    color: #222222; }
  .features p {
    margin-top: 8px;
    font-size: 16px;
    color: #909090; }
  .features .choice,
  .features .credit,
  .features .delivery {
    box-sizing: border-box; }
    .features .choice::before,
    .features .credit::before,
    .features .delivery::before {
      content: '';
      display: block;
      width: 100px;
      height: 100px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%; }
  .features .choice::before {
    background-image: url(../img/features/choice.svg); }
  .features .credit::before {
    background-image: url(../img/features/credit.svg); }
  .features .delivery::before {
    background-image: url(../img/features/delivery.svg); }

@media screen and (max-width: 849px) {
  .features {
    height: auto;
    flex-direction: column; }
    .features .choice:before,
    .features .credit:before,
    .features .delivery:before {
      margin: 0 auto; }
    .features .choice,
    .features .credit,
    .features .delivery {
      width: 100%; }
      .features .choice h3, .features .choice p,
      .features .credit h3,
      .features .credit p,
      .features .delivery h3,
      .features .delivery p {
        text-align: center; } }
.slider {
  margin-top: 60px;
  margin-bottom: 100px; }
  .slider .swiper-container {
    position: relative;
    height: 500px;
    background-color: #fff; }
  .slider .caption {
    font-size: 60px;
    text-align: left;
    color: #222;
    margin-left: 88px;
    margin-bottom: 40px; }
  .slider .swiper-slide {
    outline: 0;
    position: relative;
    cursor: default;
    margin-right: 200px; }
    .slider .swiper-slide:first-child {
      margin-left: 40px; }
    .slider .swiper-slide:not(.promo) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end; }
    .slider .swiper-slide img {
      max-width: 100%;
      flex-shrink: 0;
      flex-grow: 0; }
  .slider .information {
    line-height: 1.28;
    width: 300px;
    position: relative;
    padding-top: 40px; }
    .slider .information:before {
      content: "";
      position: absolute;
      height: 200px;
      width: 1px;
      background-color: #888888;
      bottom: 10px;
      left: -20px; }
    .slider .information h3, .slider .information .about {
      color: #666;
      font-size: 16px; }
    .slider .information h3 {
      font-family: "Lato", sans-serif;
      padding-bottom: 10px;
      letter-spacing: 0.2em;
      text-transform: uppercase; }
    .slider .information .cost {
      font-size: 30px;
      font-family: "Rubik", sans-serif;
      color: black;
      margin-top: 12px; }

.swiper-arrow {
  outline: 0;
  cursor: pointer;
  z-index: 99;
  border: none;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid 1px #dddddd;
  background: white url(../img/slider/arrow-next.svg) 55% center/24% no-repeat; }
  .swiper-arrow:hover {
    background-color: #ddd; }

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0; }

.swiper-button-prev {
  left: 100px;
  transform: rotate(180deg); }

.swiper-button-next {
  right: 100px; }

.transformers .hardy_middle {
  width: 630px; }
.transformers .stenford {
  width: 600px; }
.transformers .city {
  width: 690px; }
.transformers .mini_best_big {
  width: 680px; }
.transformers .morfei-1 {
  width: 570px; }
.transformers .chelsi {
  width: 700px; }

.single .barcelona {
  width: 210px; }
.single .mini_best-2 {
  width: 240px; }
.single .keddi {
  width: 200px; }
.single .uyout {
  width: 255px; }
.single .klaus-7 {
  width: 250px; }
.single .mini_best_01 {
  width: 250px; }
.single .mini_best_02 {
  width: 210px; }
.single .information {
  width: 240px;
  transform: translateX(80px); }

.eco .manolo_01 {
  width: 555px; }
.eco .milly {
  width: 500px; }
.eco .conti {
  width: 500px; }
.eco .torino {
  width: 500px; }
.eco .morfei-2 {
  width: 430px; }
.eco .manolo_02 {
  width: 750px; }
.eco .promo {
  width: 460px; }
.eco .eco-promo {
  background: #EEE;
  width: 430px;
  border-bottom: 8px solid #FE7F12;
  height: 440px;
  position: relative;
  box-sizing: border-box;
  padding: 120px 20px 140px 50px;
  margin-top: 40px; }
  .eco .eco-promo::before, .eco .eco-promo::after {
    content: '';
    position: absolute; }
  .eco .eco-promo::before {
    width: 90px;
    height: 110px;
    background: url(../img/eco.svg) center/contain no-repeat;
    top: -26px;
    left: 50px; }
  .eco .eco-promo::after {
    border-left: 70px solid #EEE;
    border-top: 220px solid transparent;
    border-bottom: 220px solid transparent;
    right: -70px;
    top: 0; }

.premium .mini_best_big {
  width: 955px; }
.premium .royal {
  width: 555px; }
.premium .best {
  width: 900px; }
.premium .jeneva {
  width: 740px; }
.premium .lozanna {
  width: 650px; }
.premium .hardy_red {
  width: 940px; }
.premium .promo {
  width: 400px; }
.premium .premium-promo {
  height: 420px;
  width: 400px;
  box-sizing: border-box;
  border: 2px solid #D19D53;
  outline: 4px solid #D19D53;
  outline-offset: 4px;
  margin-top: 60px;
  padding: 80px 70px 0 50px;
  position: relative; }
  .premium .premium-promo::before {
    content: '';
    position: absolute;
    width: 101px;
    height: 92px;
    background: url(../img/premium.svg) center/contain no-repeat;
    top: -52px;
    left: 30px; }
  .premium .premium-promo ul {
    list-style: none; }
  .premium .premium-promo li {
    margin-bottom: 16px;
    position: relative;
    padding-left: 28px; }
    .premium .premium-promo li::before {
      content: '';
      position: absolute;
      left: 8px;
      top: 9px;
      width: 7px;
      height: 7px;
      background: #D19D53;
      transform: rotate(45deg) translateY(-2px);
      margin-right: 12px; }

@media screen and (max-width: 1247px) {
  .slider {
    margin-bottom: 50px; }
    .slider .caption {
      margin-bottom: 0;
      margin-left: 20px;
      font-size: 2em; }
    .slider .swiper-container {
      height: auto; }
    .slider .information:before {
      display: none; }
    .slider .swiper-arrow {
      visibility: hidden; }
    .slider .swiper-slide {
      margin-right: 50px; }
    .slider .information {
      transform: translate(20px); }
    .slider .swiper-slide:first-child {
      margin-left: 10px; }

  .single {
    margin-bottom: 50px; }
    .single .cost {
      font-size: 14px; }
    .single .swiper-slide {
      height: 400px;
      padding-left: 10px; }
    .single .caption {
      padding-bottom: 20px; }

  .transformers .swiper-slide {
    margin-right: 0px;
    width: 80vw;
    padding-right: 20px; }
  .transformers .information {
    width: 80vw;
    padding-top: 10px; }
    .transformers .information .cost {
      font-size: 1.5em; }
  .transformers .swiper-container {
    height: 400px; }
  .transformers .swiper-slide img {
    width: 100%;
    height: 250px; }

  .eco {
    height: 400px;
    margin-bottom: 50px; }
    .eco .swiper-slide {
      width: 90vw; }
      .eco .swiper-slide:not(:first-of-type) {
        padding-left: 10px; }
      .eco .swiper-slide img {
        width: 100%;
        height: 250px; }
    .eco .information {
      width: 250px;
      margin: 0 auto; }
    .eco .eco-promo {
      width: 220px;
      height: 350px;
      padding: 25px 0 0 0; }
      .eco .eco-promo:before {
        width: 45px;
        height: 55px; }
      .eco .eco-promo:after {
        border-top: 170px solid transparent;
        border-bottom: 170px solid transparent; }
      .eco .eco-promo h3 {
        font-size: 25px; } }
.top-footer .top-footer-content {
  width: 100%;
  height: 700px;
  border-bottom: 8px solid #fe7f12;
  background: #aaa url("../img/footer/shops.jpg") center/cover no-repeat;
  box-sizing: border-box;
  padding: 60px 48px; }
.top-footer .address-list {
  display: flex;
  justify-content: space-between;
  margin-top: 140px; }
.top-footer .caption {
  box-sizing: border-box;
  padding-right: 40%;
  font-size: 4.375rem;
  line-height: 1.06;
  text-align: left;
  color: white; }
.top-footer .show-map {
  bottom: 10%;
  width: 230px;
  margin-top: 30px; }
.top-footer .address {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  height: 60%; }
  .top-footer .address h3 {
    padding-bottom: 10px;
    font-size: 32px;
    text-align: left;
    color: #ffffff; }
  .top-footer .address p {
    font-size: 16px;
    width: 300px;
    text-align: left;
    padding-bottom: 5px;
    color: #dfdfdf; }

@media screen and (max-width: 1247px) {
  .top-footer {
    height: auto;
    width: 100%;
    padding: 0; }
    .top-footer .top-footer-content {
      padding: 0;
      height: auto; }
    .top-footer .address-list {
      flex-direction: column; }
    .top-footer .caption {
      position: relative;
      top: auto;
      left: auto;
      padding: 25px 0;
      text-align: center;
      font-size: 2em;
      width: auto; }
    .top-footer .address-list {
      margin-top: 0; }
    .top-footer .address {
      width: 100%;
      height: 300px; }
      .top-footer .address h3 {
        text-align: center;
        font-size: 1.5em; }
      .top-footer .address p {
        font-size: 1em;
        text-align: center;
        width: 50%;
        margin: 0 auto; }
      .top-footer .address .show-map {
        position: relative;
        bottom: auto;
        margin: 25px auto 0 auto; } }
.bottom-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .bottom-footer a {
    line-height: 1.25;
    letter-spacing: 1px;
    text-align: right;
    color: #666666;
    text-decoration: none; }
  .bottom-footer .payment {
    width: 150px;
    height: 40px;
    background: url(../img/footer/payment.png) center no-repeat;
    background-size: contain; }

@media screen and (max-width: 1247px) {
  .bottom-footer {
    box-sizing: border-box;
    padding: 0 10px; } }
.discount-banner {
  width: 1000px;
  margin: 50px auto;
  background-color: #eeeeee;
  position: relative; }

.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 20px 50px; }
  .options:not(.options-opened) {
    height: 110px; }
    .options:not(.options-opened) .options-describe,
    .options:not(.options-opened) .options-form {
      display: none; }
  .options.options-opened .options-invite {
    display: none; }
  .options span {
    position: absolute;
    top: -50px;
    left: 30px;
    font-size: 120px;
    line-height: 1.25;
    text-align: left;
    color: #fe7f12;
    font-family: "Rubik", sans-serif; }
  .options h3 {
    font-weight: normal;
    width: 40%;
    text-align: left;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 30px; }
  .options p {
    color: #666; }
  .options button {
    width: 205px; }
  .options .text-input {
    margin-bottom: 8px; }
  .options .options-left {
    padding-left: 50px; }
  .options .options-right {
    width: 480px;
    margin-left: 90px;
    flex-shrink: 0; }
  .options .options-invite {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .options .options-invite p {
      text-align: right;
      margin-right: 20px;
      flex-shrink: 0; }
  .options .options-describe {
    margin-top: 20px; }

.discount-offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding: 0 50px;
  height: 110px; }
  .discount-offer span {
    position: absolute;
    top: -25px;
    left: -20px;
    font-family: "Rubik", sans-serif;
    font-size: 90px;
    text-align: left;
    color: #fe7f12; }
  .discount-offer h3 {
    font-weight: normal;
    text-align: left;
    font-size: 30px;
    align-self: flex-end;
    padding-bottom: 10px; }
  .discount-offer button {
    width: 205px;
    vertical-align: bottom; }
  .discount-offer label {
    display: block;
    font-size: 16px;
    text-align: left;
    color: #666;
    margin-bottom: 12px; }
  .discount-offer .text-input {
    width: 240px;
    vertical-align: bottom;
    display: inline-block; }
  .discount-offer .get-promo {
    position: relative; }

@media screen and (max-width: 1247px) {
  .discount-banner {
    height: 300px;
    width: 100%; }

  .discount-offer {
    height: 350px;
    flex-direction: column;
    padding: 0; }
    .discount-offer span {
      top: -50px;
      left: 5%; }
    .discount-offer h3 {
      align-self: flex-start;
      padding-left: 25px;
      padding-top: 70px; }
    .discount-offer .get-promo {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 60%; }
      .discount-offer .get-promo label {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px; }
      .discount-offer .get-promo button {
        margin-top: 20px;
        position: relative;
        left: auto; }

  .options {
    flex-direction: column; }
    .options:not(.options-opened) {
      height: 350px; }
    .options.options-opened {
      height: 450px; }
      .options.options-opened .options-describe {
        padding: 0; }
      .options.options-opened .text-input {
        margin-top: 20px; }
      .options.options-opened .options-right {
        width: 90%; }
      .options.options-opened button {
        margin: 20px auto; }
    .options .options-left {
      padding: 0; }
    .options .options-right {
      margin-left: 0;
      width: 100%; }
    .options .options-invite {
      flex-direction: column; }
      .options .options-invite p {
        padding-bottom: 20px;
        text-align: center; }
    .options h3 {
      text-align: center;
      padding: 50px 10px 10px 0;
      width: 100%; }
    .options p {
      padding: 0 10px;
      text-align: center;
      width: 100%; } }
