@include mq("850", max) {
	.features {
		height: auto;
		flex-direction: column;
		%features-block:before {
			margin: 0 auto;
		}
		.choice,
		.credit,
		.delivery {
			width: 100%;
			h3, p {
				text-align: center;
			}

		}
	}
}