@include mq("tablet-small", max) {
	.header {
		.swiper-arrow { display: none; }
		.logo {
			left: 20px;
			top: 30px; }
		h1 {
			font-size: 30px;
			width: 80%;
			bottom: 25%; }

		.contacts {
			top: 90px;
			left: 20px;
			align-items: flex-start;
			flex-direction: column;
			a {
				width: 150px;
				padding: 12px 20px 12px 0; }
			.callback { width: 180px; }
		}

	}
}
@include mq("phone", max) {
	.header h1 { font-size: 20px;}
}
