.header {
	@extend %section-content;
	position: relative;
	height: 80vh;
	overflow: hidden;

	.header-content {
  	background: #aaa url('../img/footer/shops.jpg') center/cover no-repeat;
		height: 100%;
	}

	.logo {
		position: absolute;
		font-size: 0;
		background: url(../img/header/logo.svg) left top no-repeat;
		background-size: contain;
		height: 30px;
		width: 1700px;
		top: 48px;
		left: 88px;
	}

	.contacts {
		position: absolute;
		right: 65px;
		top: 25px;
	}

	a {
		text-decoration: none;
		color: #fff;
		padding: 10px 20px;
	}

	.callback {
		@extend %button-secondary;
		width: 200px;
	}

	h1 {
		color: white;
		font-size: 50px;
		position: absolute;
		left: 5%;
		bottom: 20%;
		width: 60%;
	}

	.pickup {
		@extend %button-primary;
		position: absolute;
		bottom: 10%;
		left: 5%;
		width: 205px;
	}
}
