.header {
	position: relative;
	height: 80vh;
    background:#aaa url('../img/footer/shops.jpg') center/cover no-repeat;
	.contacts {
		text-align: right;
		padding-top: 25px;
		padding-right: 25px;
	}
	a {
		text-decoration: none;
		color: #fff;
		padding: 10px 20px;
	}

	.callback {
		background-color: transparent;
		width: 206px;
		height: 39px;
		border-radius: 8px;
		border: solid 1.1px #ffffff;

		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1.1px;
		text-align: center;
		color: #ffffff;
		text-transform: uppercase;

		}
	
	h1 {
		text-align: left;
		color: #ffffff;
		font-size: 50px;
		position: absolute;
		left: 5%;
		bottom: 20%;
		width: 60%;
		font-weight: normal;}
	.pickup {
		position: absolute;
		bottom: 10%;
		left: 5%;
		width: 205px;
		height: 39px;
		border-radius: 8px;
		border: none;
		background-color: #fe7f12;
		font-family: 'Rubik', sans-serif;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1px;
		text-align: center;
		color: #ffffff;
		text-transform: uppercase;}
}