.discount-offer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	padding: 0 50px;

	span {
		position: absolute;
		top: -25px;
		left: -20px;
		font-family: $font-rubik;
		font-size: 90px;
		text-align: left;
 		color: #fe7f12;
	}

	h3 {
		font-weight: normal;
		text-align: left;
		font-size: 30px;
		align-self: flex-end;
		padding-bottom: 10px;
	}

	.get-promo {
		position: relative;

		input {
			width: 260px;
			height: 34px;
			border: solid 2px #ababab;
			border-radius: 4px;
			font-size: 16px;
			outline: none;
			padding-left: 10px;
			color: #aaa;
			vertical-align: bottom;
		}

		button {
			@extend %button-primary;
			width: 205px;
			vertical-align: bottom;
		}

		label {
			display: block;
			font-size: 16px;
			text-align: left;
			color: #666;
			margin-bottom: 12px;
		}
	}
}
