.discount-offer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	padding: 0 50px;
	height: 110px;

	span {
		position: absolute;
		top: -30px;
		left: 0;
		font-family: $font-rubik;
		font-size: 90px;
		text-align: left;
 		color: #fe7f12;
	}

	h3 {
		font-weight: normal;
		text-align: left;
		font-size: 30px;
		align-self: flex-end;
		padding-bottom: 10px;
	}

	button {
		@extend %button-primary;
		width: 205px;
		vertical-align: bottom;
	}

	label {
		display: block;
		font-size: 16px;
		text-align: left;
		color: #666;
		margin-bottom: 12px;
	}

	.text-input {
		width: 240px;
		vertical-align: bottom;
		display: inline-block;
	}

	.get-promo {
		position: relative;
	}
}
