.options {
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 20px 50px;

	&:not(.options-opened) {
		height: 110px;

		.options-describe,
		.options-form {
			display: none;
		}
	}

	&.options-opened {
		.options-invite {
			display: none;
		}
	}

	span {
		position: absolute;
		top: -50px;
		left: 30px;
		font-size: 120px;
		line-height: 1.25;
		text-align: left;
		color: #fe7f12;
		font-family: $font-rubik;
	}

	h3 {
		font-weight: normal;
		width: 40%;
		text-align: left;
		box-sizing: border-box;
		font-family: $font-rubik;
		font-size: 30px;
	}

	p {
		color: #666;
	}

	button {
		@extend %button-primary;
		width: 205px;
	}

	.text-input {
		margin-bottom: 8px;
	}

	.options-left {
		padding-left: 50px;
	}

	.options-right {
		width: 480px;
		margin-left: 90px;
		flex-shrink: 0;
	}

	.options-invite {
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			text-align: right;
			margin-right: 20px;
			flex-shrink: 0;
			max-width: 320px;
		}
	}

	.options-describe {
		margin-top: 20px;
	}
}
