.bottom-footer {
	@extend %section-content;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		line-height: 1.25;
		letter-spacing: 1px;
		text-align: right;
		color: #666666;
		text-decoration: none;
	}

	.payment {
		width: 150px;
		height: 40px;
		background: url(../img/footer/payment.png) center no-repeat;
		background-size: contain;
	}
}

@include mq("desktop", max) {
}
