.top-footer {
	height: 80vh;
	position: relative;
	width: 95vw;
	background:#aaa url('../img/footer/shops.jpg') center/cover no-repeat;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	box-sizing: border-box;
	padding: 0 200px;
	border-bottom: 8px solid #fe7f12;
	.caption {
		font-weight: normal;
		width: 100%;
		box-sizing: border-box;
		padding-right: 50%;
		position: relative;
		font-size: 4.375rem;
		line-height: 1.06;
  		text-align: left;
  		color: white;}
	.address {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 400px;
		height: 60%;
		h3 {
			padding-bottom: 10px;
			font-size: 32px;
			text-align: left;
			color: #ffffff;
		}
		p {
			font-size: 1.3em;
			width: 300px;
  			text-align: left;
  			padding-bottom: 5px;
  			color: #dfdfdf;}

  		.map {
  			bottom: 10%;
  			position: absolute;
  			width: 275px;
  			height: 42px;
  			border-radius: 100px;
  			background-color: transparent;
  			border: 1px solid white;
			
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 2.8px;
			text-align: center;
			color: #ffffff;
			text-transform: uppercase;}
  		}

}