extends layouts/app

block variables
	- title = "Политика конфиденциальности Sofalini"
	
block content
	.privacy-policy
		.privacy-policy-content
			a.logo(href="index.php") Вернуться на&nbsp;главную
			h1 Политика конфиденциальности
			p Согласие на&nbsp;обработку персональных данных. В&nbsp;соответствии со&nbsp;статьёй&nbsp;9 Федерального закона
				= " "
				nobr №152-ФЗ
				= " "
				| «О&nbsp;персональных данных» и&nbsp;в&nbsp;целях обучения и&nbsp;развития я&nbsp;даю свое согласие ООО&nbsp;Нью&nbsp;Проджект 109542, г.&nbsp;Москва,
				= " "
				nobr пр-т&nbsp;Рязанский
				| , дом&nbsp;97, корпус&nbsp;2, офис&nbsp;5 ОГРН&nbsp;5167746257696.
			ul
				li Фамилия, имя;
				li Адрес моей электронной почты (рабочий);
				li Телефон
			p Я&nbsp;понимаю и&nbsp;выражаю свое согласие с&nbsp;тем, что&nbsp;интегрированный способ обработки персональных данных будет включать в&nbsp;себя следующие действия с&nbsp;моими персональными данными: сбор, систематизацию, накопление, хранение, обновление, изменение, передачу, обезличивание, блокирование и&nbsp;уничтожение. Обработка персональных данных производится до&nbsp;момента письменного отзыва мной у&nbsp;названных выше организаций согласия на&nbsp;такую обработку.
