.discount-banner.discount-offer
	span -30%
	h3 до конца сентября 
	form.get-promo
		label(for="get-promo") Получите промокод на электронную почту:
		input(type="email" id="get-promo" placeholder="E-mail")
		button Получить промокод
