section.eco.slider
	h2.caption Дышите свободно
	.swiper-container
		.swiper-wrapper
			.swiper-slide.promo
				.eco-promo
					h3 Эко-мебель в вашем доме — это здоровье вас и вашей семьи
					p Мы используем материалы, безопасные для окружающей среды и человека.
			.swiper-slide.manolo_01
				img(src="img/eco/manolo_01.jpg")
				.information
					h3 Manolo
					p.about Manolo — это&nbsp;удобство со&nbsp;знаком бесконечности
					p.cost от 132 087 ₽
			.swiper-slide.milly
				img(src="img/eco/milly.jpg")
				.information
					h3 Milly
					p.about Идеальное и&nbsp;неожиданное сочетание цены и&nbsp;качества
					p.cost от 42 699 ₽
			.swiper-slide.conti
				img(src="img/eco/conti.jpg")
				.information
					h3 Conti
					p.about Лаконичность и&nbsp;изящество линий
					p.cost от 44 732 ₽
			.swiper-slide.torino
				img(src="img/eco/torino.jpg")
				.information
					h3 Торино
					p.about Простое и&nbsp;элегантное решение для&nbsp;тех, кто&nbsp;любит комфорт и&nbsp;современный дизайн
					p.cost от 70 000 ₽
			.swiper-slide.morfei-2
				img(src="img/eco/morfei-2.jpg")
				.information
					h3 Альфа-Лайн Мини
					p.about Уникальное конструкторское решение повышения комфортности спального места
					p.cost от 71 390 ₽
			.swiper-slide.manolo_02
				img(src="img/eco/manolo_02.jpg")
				.information
					h3 Manolo
					p.about Современный модульный диван для&nbsp;ценителей комфорта экстра-класса
					p.cost от 116 071 ₽
			.swiper-slide.adel
				img(src="img/eco/adel.jpg")
				.information
					h3 Адель
					p.about Позволит вам принять самое комфортное положение и&nbsp;насладиться отдыхом
					p.cost от 29 070 ₽
			.swiper-slide.fabio
				img(src="img/eco/fabio.jpg")
				.information
					h3 Фабио
					p.about Диван в&nbsp;лаконичном рестро-стиле станет изюменкой вашей гостинной
					p.cost от 83 200 ₽
			.swiper-slide.malta
				img(src="img/eco/malta.jpg")
				.information
					h3 Мальта
					p.about Такой диван обязательно станет свидетельством вашего безупречного вкуса
					p.cost от 66 572 ₽
			.swiper-slide.atlant-2
				img(src="img/eco/atlant-2.jpg")
				.information
					h3 Атлант-2
					p.about «Атлант» — это модульный диван нового поколения
					p.cost от 136 050 ₽
		.swiper-arrow.swiper-button-prev
		.swiper-arrow.swiper-button-next
