section.swiper-container.eco
	h2.caption Дышите свободно
	.swiper-wrapper
		.swiper-slide.first.eco-promo
			h3 Эко-мебель в вашем доме — это здоровье вас и вашей семьи
			p Мы используем материалы, безопасные для окружающей среды и человека.
		.swiper-slide.second 
			.information
				h3 клаус-6
				p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
				p.cost от 65 990 ₽
		.swiper-slide.third 
			.information
				h3 клаус-6
				p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
				p.cost от 65 990 ₽
		.swiper-slide.third 
			.information
				h3 клаус-6
				p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
				p.cost от 65 990 ₽
	.swiper-arrow.swiper-button-prev
	.swiper-arrow.swiper-button-next
