footer.main-footer
	.top-footer
		.top-footer-content
			h2.caption Больше моделей в&nbsp;наших магазинах
			.address-list
				.address
					h3 ТК&nbsp;Никольский Парк
					p г.&nbsp;Балашиха, Носовихинское&nbsp;ш., вл.&nbsp;4, 2&nbsp;этаж
					p с&nbsp;10.00 по&nbsp;20.00 ежедневно
					a.show-map(target="_blank", href="https://2gis.ru/moscow/search/никольский%20парк/firm/4504127914707271/tab/firms?queryState=center%2F37.882395%2C55.750313%2Fzoom%2F16") Показать на карте
				.address
					h3 БП&nbsp;Румянцево
					p 22&nbsp;км. Киевского шоссе,&nbsp;4, корпус&nbsp;Б, 5&nbsp;подъезд, этаж&nbsp;2, сектор&nbsp;В-4
					p с&nbsp;10.00 по&nbsp;21.00 ежедневно
					a.show-map(target="_blank", href="https://2gis.ru/moscow/search/бп%20румянцево/geo/4504286833934441/tab/geo?queryState=center%2F37.431839%2C55.635452%2Fzoom%2F16") Показать на карте
				.address
					h3 ТК&nbsp;Каширский двор
					p Каширское шоссе, д.19, корп&nbsp;2, 1&nbsp;этаж
					p с&nbsp;10.00 по&nbsp;21.00 ежедневно
					a.show-map(target="_blank", href="https://2gis.ru/moscow/search/ТК%20Каширский%20двор/firm/4504127908456917/tab/geo?queryState=center%2F37.629357%2C55.664927%2Fzoom%2F16") Показать на карте
	.bottom-footer
		a(href="tel:+79099388518") +7 909 938 85 18
		.payment


				
				
