footer.main-footer
	.top-footer 
		h2.caption Больше моделей в&nbsp;наших магазинах
		.address
			h3 ТК Никольский Парк
			p г. Балашиха, Носовихинское ш., вл. 4, 2-й этаж
			p с 10.00 по 20.00 ежедневно
			button.map Показать на карте
		.address
			h3 БП Румянцево
			p 22-ой км. Киевского шоссе, 4, корпус Б, 5-тый подъезд, этаж 2, сектор В-4
			p с 10.00 по 21.00 ежедневно
			button.map Показать на карте
		.address
			h3 ТК Каширский двор
			p Каширское шоссе, д.19, корп 2, 1-й этаж
			p с 10.00 по 21.00 ежедневно
			button.map Показать на карте