footer.main-footer
	.top-footer
		.top-footer-content
			h2.caption Больше моделей в&nbsp;наших магазинах
			.address-list
				.address
					h3 ТК Никольский Парк
					p г. Балашиха, Носовихинское&nbsp;ш., вл.&nbsp;4,&nbsp;2-й этаж
					p с 10.00 по 20.00 ежедневно
					button.show-map Показать на карте
				.address
					h3 БП Румянцево
					p 22-ой км. Киевского шоссе,&nbsp;4, корпус&nbsp;Б, 5-тый подъезд, этаж&nbsp;2, сектор&nbsp;В-4
					p с 10.00 по 21.00 ежедневно
					button.show-map Показать на карте
				.address
					h3 ТК Каширский двор
					p Каширское шоссе, д.19, корп&nbsp;2, 1-й&nbsp;этаж
					p с 10.00 по 21.00 ежедневно
					button.show-map Показать на карте
	.bottom-footer
		a(href="tel: +7 990 888 3992") +7 990 888 3992
		.payment


				
				
