doctype html
html(lang='en')
head
	meta(charset='UTF-8')
	
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css")
	link(rel='stylesheet', href='css/main.css')
		
	meta(name='viewport', content='width=device-width')
	<title>Sofalini</title>
body
	include header.jade
	include features.jade
	include discount.jade
	include transformers.jade
	//- include single.jade
	include options.jade
	include footer.jade
	

	
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
	//- script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js")
	script(src="script/slider.js")


