doctype html
html(lang='en')
	head
		include ga-head.html
		meta(charset='UTF-8')
		
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css")
		link(rel='stylesheet', href='css/main.css')
			
		meta(name='viewport', content='width=device-width')
		title Sofalini
	body
		include ga-body.html
		include header
		include features
		include discount
		include transformers
		include eco
		include single
		include premium
		include options
		include footer
		include popup
		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js")
		script(src="js/main.js")
		include ga-body-end.html
