section.premium.slider
	h2.caption Премиум-класс
	.swiper-container
		.swiper-wrapper
			.swiper-slide.promo
				.premium-promo
					h3 Выбирайте самое лучшее
					ul
						li Ведущие итальянские мастера и дизайнеры интерьера
						li Диваны по индивидуальному заказу
						li Широкая палитра цветов
			.swiper-slide.second 
				.information
					h3 клаус-6
					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
					p.cost от 65 990 ₽
			.swiper-slide.third 
				.information
					h3 клаус-6
					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
					p.cost от 65 990 ₽
			.swiper-slide.third 
				.information
					h3 клаус-6
					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
					p.cost от 65 990 ₽
		.swiper-arrow.swiper-button-prev
		.swiper-arrow.swiper-button-next
