section.premium.slider
	h2.caption Премиум-класс
	.swiper-container
		.swiper-wrapper
			.swiper-slide.promo
				.premium-promo
					h3 Выбирайте самое лучшее
					ul
						li Ведущие итальянские мастера и дизайнеры интерьера
						li Диваны по индивидуальному заказу
						li Широкая палитра цветов
			.swiper-slide.mini_best_big
				img(src="img/premium/mini_best_big.jpg")
				.information
					h3 Mini Best
					p.about «Mini Best» пособен подстраиваться под&nbsp;индивидуальные особенности людей
					p.cost от 212 805 ₽
			.swiper-slide.royal
				img(src="img/premium/royal.jpg")
				.information
					h3 Роял
					p.about Шикарный дизайн дивана покорит ваших гостей
					p.cost от 195 859 ₽
			.swiper-slide.best
				img(src="img/premium/best.jpg")
				.information
					h3 Best
					p.about Многоплановая модульная система, позволяющая формировать конфигурацию
					p.cost от 318 283 ₽
			.swiper-slide.jeneva
				img(src="img/premium/jeneva.jpg")
				.information
					h3 Женева
					p.about Необычайно мягкие формы и&nbsp;идеально рассчитанная эргономика
					p.cost от 220 7450 ₽
			.swiper-slide.lozanna
				img(src="img/premium/lozanna.jpg")
				.information
					h3 Лозанна
					p.about Модель «Лозанна» прекрасно сочетает в&nbsp;себе функциональность и&nbsp;удобство
					p.cost от 361 700 ₽
			.swiper-slide.hardy_red
				img(src="img/premium/hardy_red.jpg")
				.information
					h3 Hardy
					p.about Диван «Hardy» — возможность не&nbsp;подстраиваться под&nbsp;ситуацию, а&nbsp;владеть ею
					p.cost от 236 664 ₽
		.swiper-arrow.swiper-button-prev
		.swiper-arrow.swiper-button-next
