section.single.slider
		h2.caption Для одного
		.swiper-container
			.swiper-wrapper
				.swiper-slide.first
					.information
						h3 клаус-6
						p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
						p.cost от 65 990 ₽
				.swiper-slide.second
					.information
						h3 клаус-6
						p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
						p.cost от 65 990 ₽
				.swiper-slide.third
					.information
						h3 клаус-6
						p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
						p.cost от 65 990 ₽
				.swiper-slide.four
					.information
						h3 клаус-6
						p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
						p.cost от 65 990 ₽
				.swiper-slide.five
					.information
						h3 клаус-6
						p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
						p.cost от 65 990 ₽
			.swiper-arrow.swiper-button-prev
			.swiper-arrow.swiper-button-next
