section.main-slider.single 
		h2.caption Для одного
		.slider
			.slick-slide.first
				.information
					h3 клаус-6
					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
					p.cost от 65 990 ₽
			.slick-slide.second
				.information
					h3 клаус-6
					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
					p.cost от 65 990 ₽
			.slick-slide.third
				.information
					h3 клаус-6
					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
					p.cost от 65 990 ₽
			.slick-slide.four
				.information
					h3 клаус-6
					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
					p.cost от 65 990 ₽
			.slick-slide.five
				.information
					h3 клаус-6
					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
					p.cost от 65 990 ₽