section.single.slider
		h2.caption Для одного
		.swiper-container
			.swiper-wrapper
				.swiper-slide.barcelona
					img(src="img/single/barcelona.jpg")
					.information
						h3 Barcelona
						p.about Итальянская технология изготовления мебели повышенной комфортности
						p.cost от 33 817 ₽
				.swiper-slide.mini_best-2
					img(src="img/single/mini_best-2.jpg")
					.information
						h3 Mini Best-2
						p.about Комфортное просторное кресло
						p.cost от 45 331 ₽
				.swiper-slide.keddi
					img(src="img/single/keddi.jpg")
					.information
						h3 Кедди
						p.about Рациональная роскошь в&nbsp;стиле арт-деко
						p.cost от 35 786 ₽
				.swiper-slide.uyout
					img(src="img/single/uyout.jpg")
					.information
						h3 Уют
						p.about Модель «Уют» можно идеально подстраивать к&nbsp;интерьеру
						p.cost от 41 653 ₽
				.swiper-slide.klaus-7
					img(src="img/single/klaus-7.jpg")
					.information
						h3 Клаус-7
						p.about Максимальный комфорт отдыхающему
						p.cost от 29 371 ₽
				.swiper-slide.mini_best_01
					img(src="img/single/mini_best_01.jpg")
					.information
						h3 Mini Best
						p.about Велюровое раскладное кресло-кровать
						p.cost от 62 991 ₽
			.swiper-arrow.swiper-button-prev
			.swiper-arrow.swiper-button-next
