section.transformers.slider#transformers
	h2.caption Трансформеры
	.swiper-container
		.swiper-wrapper
			.swiper-slide.hardy_middle
				img(src="img/transformers/hardy_middle.jpg")
				.information
					h3 Hardy
					p.about Открытая форма, единая легкая конструкция — лидер мягкой мебели в&nbsp;стиле лофты
					p.cost от 162 822 ₽
			.swiper-slide.stenford
				img(src="img/transformers/stenford.jpg")
				.information
					h3 Стенфорд
					p.about Минималистичный модульный диван-кровать
					p.cost от 56 463 ₽
			.swiper-slide.city
				img(src="img/transformers/city.jpg")
				.information
					h3 Сити
					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
					p.cost от 65 990 ₽
			.swiper-slide.mini_best_big
				img(src="img/transformers/mini_best_big.jpg")
				.information
					h3 Mini Best
					p.about Особый комфорт отдыхающему на&nbsp;диван-кровати «Mini Best»
					p.cost от 100 100 ₽
			.swiper-slide.morfei-1
				img(src="img/transformers/morfei-1.jpg")
				.information
					h3 Морфей-1
					p.about Максимум удобства и&nbsp;комфорта, пользующийся огромным спросом у&nbsp;покупателей
					p.cost от 77 335 ₽
			.swiper-slide.chelsi
				img(src="img/transformers/chelsi.jpg")
				.information
					h3 Челси
					p.about Символ уюта и&nbsp;комфорта, создающий особую атмосферу в&nbsp;гостиной
					p.cost от 110 540 ₽
		.swiper-arrow.swiper-button-prev
		.swiper-arrow.swiper-button-next








//- section.main-slider.transformers
//- 		h2.caption Трансформеры
//- 		.slider
//- 			.slick-slide.first 
//- 				.information
//- 					h3 клаус-6
//- 					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
//- 					p.cost от 65 990 ₽
//- 			.slick-slide.second
//- 				.information
//- 					h3 best
//- 					p.about Универсальные 
//- 					p.cost от 75 990 ₽
//- 			.slick-slide.third
//- 				.information
//- 					h3 клаус-6
//- 					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
//- 					p.cost от 25 990 ₽
//- 			.slick-slide.third
//- 				.information
//- 					h3 best
//- 					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
//- 					p.cost от 25 990 ₽
//- 			.slick-slide.third
//- 				.information
//- 					h3 клаус-6
//- 					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
//- 					p.cost от 25 990 ₽
//- 			.slick-slide.third
//- 				.information
//- 					h3 best
//- 					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
//- 					p.cost от 25 990 ₽
