section.transformers.slider#transformers
	h2.caption Трансформеры
	.swiper-container
		.swiper-wrapper
			.swiper-slide.hardy_middle
				img(src="img/transformers/hardy_middle.jpg")
				.information
					h3 Hardy
					p.about Открытая форма, единая легкая конструкция — лидер мягкой мебели в&nbsp;стиле лофт
					p.cost от 162 822 ₽
			.swiper-slide.stenford
				img(src="img/transformers/stenford.jpg")
				.information
					h3 Стенфорд
					p.about Минималистичный модульный диван-кровать
					p.cost от 56 463 ₽
			.swiper-slide.city
				img(src="img/transformers/city.jpg")
				.information
					h3 Сити
					p.about Элегантный и оригинальный дизайн и&nbsp;небольшие габариты
					p.cost от 65 990 ₽
			.swiper-slide.mini_best_big
				img(src="img/transformers/mini_best_big.jpg")
				.information
					h3 Mini Best
					p.about Особый комфорт отдыхающему на&nbsp;диван-кровати «Mini Best»
					p.cost от 100 100 ₽
			.swiper-slide.morfei-1
				img(src="img/transformers/morfei-1.jpg")
				.information
					h3 Морфей-1
					p.about Максимум удобства и&nbsp;комфорта, пользуется высоким спросом
					p.cost от 77 335 ₽
			.swiper-slide.chelsi
				img(src="img/transformers/chelsi.jpg")
				.information
					h3 Флеш
					p.about Символ уюта и&nbsp;комфорта, создающий особую атмосферу в&nbsp;гостиной
					p.cost от 110 540 ₽
			.swiper-slide.malta
				img(src="img/transformers/malta.jpg")
				.information
					h3 Мальта
					p.about Прекрасно впишется в&nbsp;пространство, подчеркнув ваш стиль и&nbsp;характер
					p.cost от 80 389 ₽
			.swiper-slide.alfa-mini
				img(src="img/transformers/alfa-mini.jpg")
				.information
					h3 Альфа-мини
					p.about Простое и&nbsp;одновременно элегантное решение
					p.cost от 70 145 ₽
		.swiper-arrow.swiper-button-prev
		.swiper-arrow.swiper-button-next
