.top-footer {
	@extend %section-content;

	.top-footer-content {
		width: 100%;
		height: 700px;
		border-bottom: 8px solid #fe7f12;
		background: #aaa url('../img/footer/shops.jpg') center/cover no-repeat;
		box-sizing: border-box;
		padding: 60px 48px;
	}

	.address-list {
		display: flex;
		justify-content: space-between;
		margin-top: 140px;
	}

	.caption {
		box-sizing: border-box;
		padding-right: 40%;
		font-size: 4.375rem;
		line-height: 1.06;
		text-align: left;
		color: white;
	}

	.show-map {
		@extend %button-secondary;
		bottom: 10%;
		width: 230px;
		margin-top: 30px;
	}

	.address {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 33%;
		height: 180px;

		h3 {
			padding-bottom: 10px;
			font-size: 32px;
			text-align: left;
			color: #ffffff;
		}

		p {
			font-size: 16px;
			width: 300px;
			text-align: left;
			padding-bottom: 5px;
			color: #dfdfdf;
		}
	}
}
