@include mq("desktop", max) {
	.swiper-container {
		.caption { 
			left: 20px;
			top: 20px;
			font-size: 2em;}

		.information {
			left: 10%;
			&:before { display: none;}
		}
		.swiper-arrow { visibility: hidden; }
	}
}