@include mq("desktop", max) {
	.slider {
		margin-bottom: 80px;
		.caption {
			margin-bottom: 20px;
			margin-left: 20px;
			font-size: 2em;
		}
		.swiper-container { height: 300px;}
		.information {
			width: auto;
			transform: translate(20px);
			max-width: 80vw;
			align-self: flex-start;
			&:before { display: none;}
			.cost { font-size: 22px; }
			.about { font-size: 14px; }
		}
		.swiper-arrow { visibility: hidden; }
		.swiper-slide {
			&:not(.promo){ margin-right: 50px;}
			&.promo { margin-right: 20px; width: 220px; }
			&:first-child  { margin-left: 10px; }
			img { height: 120px;}
		}
	}

	.single {
		$multiple: 1.1;
		.barcelona { width: 210px/$multiple; }
		.mini_best-2 { width: 240px/$multiple; }
		.keddi { width: 200px/$multiple; }
		.uyout { width: 255px/$multiple; }
		.klaus-7 { width: 250px/$multiple; }
		.mini_best_01 { width: 250px/$multiple; }
		.mini_best_02 { width: 210px/$multiple; }
		.molli { width: 253px/$multiple; }
		.information p.about { height: 54px; }
	}

	.transformers {
		$multiple: 2.4;
		.hardy_middle { width: 630px/$multiple; }
		.stenford { width: 600px/$multiple; }
		.city { width: 690px/$multiple; }
		.mini_best_big { width: 680px/$multiple; }
		.morfei-1 { width: 570px/$multiple; }
		.chelsi { width: 700px/$multiple; }
		.alfa-mini { width: 651px/$multiple; }
		.malta { width: 700px/$multiple; }
		.johns-1 { width: 610px/$multiple; }
		.joy { width: 468px/$multiple; }
		.polo { width: 615px/$multiple; }
		.randevu { width: 659px/$multiple; }
		.duet { width: 510px/$multiple; }
		.johns-2 { width: 488px/$multiple; }
		.swiper-slide {margin-right: 0px; padding-right: 20px;}
		.information {
			padding-top: 10px;
		}
	}

	.eco {
		$multiple: 2;
		.manolo_01 { width: 555px/$multiple; }
		.milly { width: 500px/$multiple; }
		.conti { width: 500px/$multiple; }
		.torino { width: 500px/$multiple; }
		.morfei-2 { width: 430px/$multiple; }
		.manolo_02 { width: 250px; }
		.adel { width: 240px; }
		.fabio { width: 505px/$multiple; }
		.malta { width: 260px; }
		.atlant-2 { width: 240px; }

		.eco-promo {
			width: 200px;
			height: 270px;
			padding: 45px 10px 0 20px;
			margin-top: 30px;
			&:before { width: 45px; height: 55px; left: 20px;}
			&:after {
				border-top-width: 135px;
	  		border-bottom-width: 135px;
				border-left-width: 40px;
				right: -40px;
			}
			h3 { font-size: 20px; margin-bottom: 16px; }
			p { font-size: 14px; }
		}
		.information p.about { height: 54px; }
	}

	.premium {
		$multiple: 2;
		.mini_best_big { width: 955px/$multiple; }
		.royal { width: 555px/$multiple; }
		.best { width: 900px/$multiple; }
		.jeneva { width: 740px/$multiple; }
		.lozanna { width: 650px/$multiple; }
		.hardy_red { width: 940px/$multiple; }

		.premium-promo {
			width: 210px;
			height: auto;
			padding: 20px 8px 10px 8px;
			margin-left: 20px;
			margin-top: 30px;
			outline-width: 3px;
			h3 { font-size: 1.5em; margin-bottom: 10px; padding-left: 10px;}
			&:before { width: 50px; height: 45px; left: 20px; top: -30px}
			ul { font-size: 14px; }
			li { margin-bottom: 6px; }
		}
	}
}
