@include mq("desktop", max) {
	.main-slider {
		.caption { 
				left: 20px;
				top: 20px;
				font-size: 2em;}

		.information {
			left: 10%;
			&:before { display: none;}
		}
		.slick-arrow { visibility: hidden; }
	}
}