.premium {
	.mini_best_big { width: 955px; }
	.royal { width: 555px; }
	.best { width: 900px; }
	.jeneva { width: 740px; }
	.lozanna { width: 650px; }
	.hardy_red { width: 940px; }

	.promo {
		width: 380px;
	}

	.premium-promo {
		@extend %promo;
		$color: #D19D53;
		height: 380px;
		width: 380px;
		box-sizing: border-box;
		border: 2px solid $color;
		outline: 4px solid $color;
		outline-offset: 4px;
		margin-top: 60px;
		padding: 70px 60px 0 40px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 101px;
			height: 92px;
			background: url(../img/premium.svg) center/contain no-repeat;
			top: -52px;
			left: 30px;
		}

		ul {
			list-style: none;
		}

		li {
			margin-bottom: 16px;
			position: relative;
			padding-left: 28px;

			&::before {
				$size: 7px;
				content: '';
				position: absolute;
				left: 8px;
				top: 9px;
				width: $size;
				height: $size;
				background: $color;
				transform: rotate(45deg) translateY(-2px);
				margin-right: 12px;
			}
		}
	}
}
