.single {
	.slick-slide {
		width: 500px;
		background:#fff url('../img/single/single01.png') top/60% no-repeat; }
}

@include mq("desktop", max) {
	.single {
		height: 70vh;
		.caption { font-size: 2em;}
		.slick-slide {
			height: 60vh;
			font-size: 0.5em;
			width: 100vw;
			background-size: 60%;
			background-position: center 10%;}
	}	
}