.slider {
	margin-top: 60px;
	margin-bottom: 100px;

	.swiper-container {
		position: relative;
		height: 500px;
		background-color: #fff;
	}

	.caption {
		font-size: 60px;
	 	text-align: left;
		color: #222;
		margin-left: 88px;
		margin-bottom: 40px;
	}

	.swiper-slide {
		outline: 0;
		position: relative;
		cursor: default;
		margin-right: 200px;

		&:first-child {
			margin-left: 40px;
		}

		&:not(.promo) {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
		}

		img {
			flex-shrink: 0;
			flex-grow: 0;
			height: 310px;
		}
	}

	.information {
		line-height: 1.28;
		width: 300px;
		position: relative;
		padding-top: 40px;

		&:before {
			content: "";
			position: absolute;
			height: 200px;
			width: 1px;
			background-color: #888888;;
			bottom: 10px;
			left: -20px;
		}

		h3, .about {
			color: #666;
			font-size: 16px;
		}

		h3 {
			font-family: $font-lato;
			padding-bottom: 10px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
		}

		.cost {
			font-size: 30px;
			font-family: $font-rubik;
			color: black;
			margin-top: 12px;
		}
	}
}

.swiper-arrow {
	outline:0;
	cursor: pointer;
	z-index: 99;
	border: none;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: solid 1px #dddddd;
	background: white url(../img/slider/arrow-next.svg) 55% center/24% no-repeat;

	&:hover {
		background-color: #ddd;
	}

}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: 0;
}

.swiper-button-prev {
	left: 100px;
	transform: rotate(180deg);
}

.swiper-button-next {
	right: 100px;
}
