// basic style



.main-slider {
	position: relative;
	height: 700px;
	background-color: #fff;

	.caption {
	z-index: 99;
	position: absolute;
	left: 50px;
	top: 50px;
	font-size: 70px;
 	text-align: left;
  	color: #222222;}

	.slider {
		display: flex;
		align-items: flex-end;
		position: relative;
		background-color: #fff;
		height: 100%;
		width: 100%;}

	.slick-slide {
		outline:0;
		position: relative;
		// border: 1px solid red;
		width: 60vw;
		height: 500px;
		margin: 0 10px;
		cursor: pointer;}

	.information {
		position: absolute;
		left: 30%;
		bottom: 10%;
		line-height: 1.28;
		text-align: left;
		color: #666666;
		h3 {
			padding-bottom: 5px;
			letter-spacing: 3.2px;
	  		text-transform: uppercase;}
		.about {
			height: 50px;
			width: 300px;
			font-size: 17px;}
		.cost {
			font-size: 35px;
	  		color: #000000;
	  		font-weight: bold;}
}
}

.slick-arrow {
	outline:0;
	cursor: pointer;
	z-index: 99;
	background-color: #fff;
	border: none;
	position: absolute;
	top: 62%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: solid 1px #dddddd;
	&:hover {
		background-color: #dddddd;
	}
	&:before {
		display: inline-block;
		content: "";
		position: relative;
		left: -2px;
		top: 2px;
		width: 10px;
	  	height: 10px;
	  	transform: rotate(-45deg);
		border: 6px solid black;
		border-top: transparent;
		border-left: transparent;}

}
.slick-prev {
	left: 100px;
	transform: rotate(180deg);}

.slick-next { right: 100px; }

.hidden {
    opacity: 0;
    pointer-events:none;
}




// White blink fix
// ------------------
.slick-track,
.slick-list {
-webkit-perspective: 2000;
-webkit-backface-visibility: hidden;
}
// ------------------

@import "transformers.scss";
@import "single";