.transformers {
	.stenford {
		width: 680px;
	}
}

@include mq("desktop", max) {
	.transformers {
		height: 70vh;

		.swiper-slide {
			height: 500px;
			font-size: 0.5em;
			width: 100vw;
			background-size: 100%;
			background-position: center;
		}
	}

}
