section.discount-banner.discount-offer#discount
	span до&nbsp;-30% на диваны
	h3 до&nbsp;25&nbsp;ноября 
	form.get-promo(action="" method="post" data-form)
		label(for="get-promo") Получите промокод на электронную почту:
		.text-input
			input(type="email", placeholder="E-mail", name="email")
		button(type="submit") Получить промокод
