section.discount-banner.discount-offer#discount
	span -30%
	h3 до конца октября 
	form.get-promo(action="" method="post" data-form)
		label(for="get-promo") Получите промокод:
		.text-input
			input(type="text", placeholder="Телефон", name="phone")
		button(type="submit") Получить промокод
