section.features
	.choice
		h3 Большой выбор
		p Более 580 вариантов качественной мебели
	.credit
		h3 Лёгкая рассрочка
		p Предоставляем беспроцентную рассрочку
	.delivery
		h3 Доставка
		p  Работаем по всей России