header.header
	.logo Sofalini
	.contacts
		a(href="tel:+74956450018") +7 495 645 00 18
		button.callback Обратный звонок
		form.callback-form(action="" method="post" data-form)
			.text-input
				input(type="text", placeholder="Телефон", name="phone")
			button(type="submit") Перезвоните мне
	.swiper-wrapper
		.swiper-slide
			.slide-promo
				h1 До&nbsp;25&nbsp;ноября 
					br
					| до&nbsp;-30%&nbsp;на&nbsp;диваны
				a.pickup(href="#discount", data-scroll-to="#discount") Получить промокод
		.swiper-slide
			.header-content
				h1 Поможем подобрать диван под&nbsp;ваши предпочтения
				a.pickup(href="#options", data-scroll-to="#options") Подобрать
		.swiper-slide
			.slide-master
				h1 Ведущие мастера
					br
					| и дизайнеры интерьера
				a.pickup(href="#transformers", data-scroll-to="#transformers") Смотреть модели
	.swiper-pagination
	.swiper-arrow.swiper-button-prev
	.swiper-arrow.swiper-button-next
