section.discount-banner.options#options
	.options-left
		span ?
		h3 Затрудняетесь в&nbsp;выборе?
		p.options-describe Опишите диван, который вы хотите и наши специалисты подберут вам наиболее подходящий вариант.
		
	.options-right
		.options-invite
			p Поможем вам подобрать диван под&nbsp;ваши предпочтения. Это&nbsp;бесплатно!
			button Подобрать
		form.options-form(action="" method="post" data-form)
			.text-input
				textarea(placeholder="Ваши предпочтения", name="message")
			.text-input
				input(type="text", placeholder="Телефон", name="phone")
			button(type="submit") Отправить
